body {
	background: #f2f2f2;
}

.inner-loading-div {
	margin: 20% auto;
	width: 50%;
	text-align: center;
}

.loading-div {
	text-align: center;
}

.text {
	display: block;
	margin-top: 20px;
	font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.qordoba-logo-container {
	position: absolute;
	right: 0;
	top: 0;
}

.qordoba-logo {
	width: 30px;
	height: 30px;
}